body{
	font-family: 'PT Sans', sans-serif;
	background-color: #252529;
	margin:  0;
	color: #ffffff;
	line-height: 1.6;
}
a{
	text-decoration: none;
	color: #cccccc;
}
#Intro {
	color: black;
}
#showcase{
	margin: 0;
	padding: 0;
	background: url('D:/html/background.jpg') no-repeat center/cover;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
#showcase.container{
	margin-top: 25vh;
}
#showcase h1{
	font-size: 4rem;
	margin-bottom: 0;
}
#showcase h2{
	font-size: 2rem;
}
nav{
	height: 40px;
	width: 100%;
	background-color: #333;
	color: rgb(51,34,34);
	position: fixed;
	top:  0;
	width: 100%;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	display: inline;
	float: left;
}
nav a{
	display: inline-block;
	font-size: 25px;
	font-family: serif;
  border: none;
  outline: none;
  color: white;
  padding: 0px 10px;
  text-align: center;
  background-color: inherit;
  margin: 0;
}
nav li:hover{
	background-color: #444444;
	height: 45px;
}
.subnav a{
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 25px;
	font-family: serif;
  	border: none;
  	outline: none;
  	color: white;
  	padding: 4px 15px;
  	background-color: inherit;
  	margin: 0;
}

.nav a:hover, .subnav:hover .subnavbtn a{
  	background-color: #F4D03F;
  	color: black;
    border-color: black;
}
.subnav-content {
  display: none;
  border-color: black;
  position: absolute;
  left: 0;
  background-color: #F4D03F;
  width: 100%;
  z-index: 0.5;
}

.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-family: serif;
  	border: none;
  	outline: none;
  	color: black;
  	padding: 4px 20px;
  	background-color: inherit;
  	margin: 0;
}

.subnav-content a:hover {
  background-color: red;
  color: floralwhite;
}

.subnav:hover .subnav-content {
  display: block;
}
.container{
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}
.lead{
	font-size: 1.3rem;
}
.sections h2{
	font-family: cursive;
	font-size: 2.5rem;
	margin: 0;
}
.sections{
	padding: 2rem 0;
	text-align: center;
	text-anchor: initial;
}
.sections h3{
	font-size: 1.5rem; 
}
:root{
	--primary-color: #b90415;
	--primary-color-hover:  #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--light-color: #878685;
}
.btn
{
	padding: 1rem;
	color: #fff;
	display: inline-block;
}
.btn-primary
{
	background: var(--primary-color);
}
.btn-primary:hover
{
	background: var(--primary-color-hover);
}
.btn-secondary
{
	background: var(--secondary-color);
}
.btn-secondary:hover
{
	background: var(--secondary-color-hover);
}
.text-light{
	color: var(--light-color);
}
.mb{
	margin-bottom: 1rem;
}
.mt{
	margin-top: 1rem;
}
footer .footer{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding: 2rem;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
}
footer .footer ul{
	list-style: none;
}
footer .footer ul li:first-child{
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 1.5px;
	margin-bottom: 1rem;
}
footer .Copyright{
	background: #333;
	padding: 1rem;
	text-align: center;
	overflow: hidden;
	color: #fff;
	font-size: 12px;
	bottom: 0;
	Left: 0; 
	right: 0;
	z-index: 999;
	height: 15px;
	position: fixed;
}
.rating1 {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating1 > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating1 > span:hover:before,
.rating1 > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

------------------------------------------------------------
/*shopping.css*/

.small-container { 
	display: inline-block;
	max-width: 1080px; 
	margin: auto; 
	padding-left: 100px; 
	padding-right: 100px;
} 
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-afound;
	margin: auto;
}

.col-4 {
	flex-basis: 25%;
	padding: 50px; 
	min-width: 200px; 
	margin-bottom: 50px; 
	transition: transform 0.5s;
}
.col-4 img {
	height: 200px;
	width: 200px;
}
.row-2 {
	justify-content: space-between;
	margin: 100px auto 50px;
}
select {
	border: 1px solid #ff523b;
	padding: 5px;
}
select:focus{
	outline: none;
}
.page-btn{
	margin: 0 40px 80px;
}
.page-btn span{
	display:  inline-block;
	border:  1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover{
	background-color: #E51717;
}
h4{
	color: #fff;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.checked{
	color: #ff523b;
}
.col-4:hover{
	transform: translateY(-50%);
}

-----------------------------------------------------------------------------
/*newarrivals.css*/

.col-4-1 {
	flex-basis: 25%;
	padding: 50px; 
	min-width: 200px; 
	margin-bottom: 50px; 
	transition: transform 1s;
}
.col-4-1 img{
	height: 250px;
	width: 300px;
}
.col-4-1 p{
	font-size: 14px;
}
.col-4-1:hover{
	transform: translateY(-50%);
}